.chat {
    display: flex;
    flex: 0.65;
    flex-direction: column;
}

.chat__header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    font-weight: 500;
    margin-bottom: 3px;
}

.chat__headerInfo > p {
    color: gray;
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body {
    overflow: scroll;
    flex: 1;
    padding: 30px;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
}

.chat__message {
    font-size: 16px;
    position: relative;
    width: fit-content;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.chat__receiver {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat__name {
    font-size: xx-small;
    position: absolute;
    top: -15px;
}

.chat__timestamp {
    font-size: xx-small;
    margin-left: 10px;
}

.chat__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-top: 1px solid lightgray;
}

.chat__footer > form {
    display: flex;
    flex: 1;
}

.chat__footer > form > input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

.chat__footer > form > button {
    display: none;
}
.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}